 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 391px;
}

.u-section-1 .u-text-1 {
  font-family: Jomolhari;
  font-size: 4.5rem;
  margin: 117px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 815px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-image-1 {
  min-height: 360px;
  background-image: url("images/Q12.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 360px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 83px 20px 0 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -48px 65px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 38px 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 345px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 51px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  text-align: left;
  margin: 56px 0 0 196px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 83px;
}

.u-section-2 .u-text-4 {
  margin: 38px 0 0 63px;
}

.u-section-2 .u-image-2 {
  min-height: 315px;
  background-image: url("images/Q2.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 315px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 284px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 96px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -31px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 12px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -50px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 31px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 737px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 315px;
  background-image: url("images/Q3.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 40px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  text-align: left;
  margin: 36px 198px 0 0;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -75px 108px 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 52px 82px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 332px;
}

.u-section-3 .u-container-layout-3 {
  padding: 18px 40px 18px 51px;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  text-align: left;
  margin: 76px 0 0 194px;
}

.u-section-3 .u-icon-2 {
  width: 52px;
  height: 52px;
  margin: -59px auto 0 101px;
}

.u-section-3 .u-text-4 {
  margin: 45px 0 0 76px;
}

.u-section-3 .u-image-2 {
  min-height: 315px;
  background-image: url("images/Q4.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 98px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 274px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 94px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 8px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 83px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 15px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -26px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 18px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -19px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 11px;
  }
}