 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 484px;
}

.u-section-1 .u-text-1 {
  font-family: Jomolhari;
  font-size: 4.5rem;
  margin: 150px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 90px -11px 60px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 690px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 40px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 321px;
  background-image: url("images/Q12.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 321px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 68px 20px 0 0;
}

.u-section-2 .u-icon-1 {
  width: 55px;
  height: 55px;
  margin: -44px 80px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 9px 12px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 339px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 46px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  text-align: left;
  margin: 26px 0 0 206px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -65px auto 0 96px;
}

.u-section-2 .u-text-4 {
  margin: 21px 0 0 96px;
}

.u-section-2 .u-image-2 {
  min-height: 339px;
  background-image: url("images/Q2.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    min-height: 265px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 265px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 280px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 106px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
  }

  .u-section-2 .u-image-2 {
    min-height: 279px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 203px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 28px;
  }

  .u-section-2 .u-image-2 {
    min-height: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 305px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 44px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -31px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 25px;
  }

  .u-section-2 .u-image-2 {
    min-height: 321px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 192px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -50px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 31px;
  }

  .u-section-2 .u-image-2 {
    min-height: 202px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 893px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 0 60px;
}

.u-section-3 .u-image-1 {
  min-height: 321px;
  background-image: url("images/Q3.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 321px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 40px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  text-align: left;
  margin: 49px 205px 0 0;
}

.u-section-3 .u-icon-1 {
  width: 52px;
  height: 52px;
  margin: -59px 120px 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 27px 82px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 339px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 40px 0 51px;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  text-align: left;
  margin: 44px 0 0 187px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -81px auto 0 90px;
}

.u-section-3 .u-text-4 {
  margin: 38px 0 0 90px;
}

.u-section-3 .u-image-2 {
  min-height: 339px;
  background-image: url("images/Q4.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-image-1 {
    min-height: 265px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 265px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 105px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 280px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 87px;
  }

  .u-section-3 .u-image-2 {
    min-height: 279px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 203px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 15px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 92px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 8px;
  }

  .u-section-3 .u-image-2 {
    min-height: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 305px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 321px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 192px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    min-height: 202px;
  }
}