 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 717px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 586px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 25px;
}

.u-section-1 .u-text-1 {
  font-weight: bold;
  font-size: 4.5rem;
  margin: 95px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 16px 75px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 586px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 540px;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 490px;
  height: 490px;
  background-image: url("images/ezgif-5-fd55091871.gif");
  background-position: 50% 50%;
  margin: -508px 23px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 483px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 505px;
  }

  .u-section-1 .u-image-1 {
    height: 446px;
  }

  .u-section-1 .u-image-2 {
    width: 470px;
    height: 470px;
    margin-top: -414px;
    margin-right: 0;
    transition-duration: 0.5s;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 553px;
  }

  .u-section-1 .u-image-1 {
    height: 342px;
  }

  .u-section-1 .u-image-2 {
    width: 360px;
    height: 360px;
    margin-top: -310px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 555px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-1 .u-image-1 {
    height: 323px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -291px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 85px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-family: Jomolhari;
  margin: 14px auto 0;
}

.u-section-2 .u-icon-1 {
  width: 46px;
  height: 46px;
  margin: -51px auto 0 50px;
}

.u-section-2 .u-icon-2 {
  width: 46px;
  height: 46px;
  margin: -40px 50px 14px auto;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 157px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: -23px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -46px;
    margin-right: -23px;
    margin-bottom: 56px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 785px;
}

.u-section-3 .u-image-1 {
  width: 347px;
  height: 347px;
  background-image: url("images/logo_EWpngcopiar.png");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 188px auto 0 42px;
}

.u-section-3 .u-shape-1 {
  width: 8px;
  height: 200px;
  margin: -270px auto 0 0;
}

.u-section-3 .u-shape-2 {
  width: 8px;
  height: 200px;
  margin: -200px 0 0 auto;
}

.u-section-3 .u-text-1 {
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-family: Jomolhari;
  font-size: 3.75rem;
  font-weight: bold;
  margin: -193px auto 0 432px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  text-align: start;
  margin: 17px 120px 60px 432px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-3 .u-shape-2 {
    width: 7px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -227px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-right: 96px;
    margin-left: 389px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-3 .u-image-1 {
    width: 225px;
    height: 225px;
    margin-top: 131px;
    margin-left: 20px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -212px;
  }

  .u-section-3 .u-shape-2 {
    width: 8px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -212px;
    margin-right: -20px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
    margin-right: 139px;
    margin-left: 297px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 284px;
    margin: 20px auto 57px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 128px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -203px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-top: 17px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin: 28px 28px 52px;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(205,152,51,0.6) !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(205,152,51,0.6) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1248px;
}

.u-section-4 .u-shape-1 {
  width: 643px;
  background-image: linear-gradient(#1f1f1f, #cd9833);
  height: 1013px;
  margin: 25px auto 0 191px;
}

.u-section-4 .u-gallery-1 {
  width: 985px;
  height: 671px;
  grid-gap: 10px 10px;
  margin: -888px auto 0 48px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-group-1 {
  width: 422px;
  min-height: 271px;
  background-image: none;
  margin: -54px 65px 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 31px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  margin: 40px auto 0;
}

.u-section-4 .u-icon-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  margin: -45px 20px 0 auto;
}

.u-section-4 .u-icon-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  margin: -38px auto 7px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-4 .u-shape-1 {
    width: 587px;
    height: 898px;
    margin-top: 65px;
    margin-right: 160px;
    margin-left: auto;
    --animation-custom-rotate: 0deg;
    --animation-custom-translate_x: 0px;
  }

  .u-section-4 .u-gallery-1 {
    width: 879px;
    height: 609px;
    margin-top: -773px;
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: -87px;
  }

  .u-section-4 .u-btn-1 {
    padding: 13px 59px 15px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1648px;
  }

  .u-section-4 .u-shape-1 {
    width: 506px;
    height: 1379px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: 81px;
  }

  .u-section-4 .u-gallery-1 {
    width: 720px;
    height: 1122px;
    margin-top: -888px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-group-1 {
    margin-top: -486px;
    margin-right: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4530px;
  }

  .u-section-4 .u-shape-1 {
    width: 402px;
    height: 2907px;
    margin-left: 0;
  }

  .u-section-4 .u-gallery-1 {
    width: 440px;
    height: 2486px;
    margin-top: -2858px;
    margin-left: auto;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-group-1 {
    width: 425px;
    margin-top: 101px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2481px;
  }

  .u-section-4 .u-shape-1 {
    width: 276px;
    height: 2201px;
  }

  .u-section-4 .u-gallery-1 {
    width: 305px;
    height: 1735px;
    margin-top: -2136px;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    width: 305px;
    margin-top: 60px;
    margin-bottom: 52px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 20px;
    margin-right: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 793px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 97px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 476px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 9px;
}

.u-section-5 .u-text-1 {
  font-weight: bold;
  font-size: 3.4375rem;
  margin: 70px 9px 0 85px;
}

.u-section-5 .u-shape-1 {
  width: 8px;
  height: 250px;
  margin: -66px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  background-image: none;
  font-weight: 700;
  margin: -175px 11px 0 85px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  margin: 22px auto 0 85px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 476px;
}

.u-section-5 .u-container-layout-2 {
  padding: 7px 0;
}

.u-section-5 .u-video-1 {
  width: 454px;
  height: 250px;
  margin: 93px auto 0 31px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-shape-2 {
  width: 8px;
  height: 250px;
  margin: -250px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 392px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 85px;
    margin-right: 17px;
    margin-left: 0;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 20px;
    margin-right: 17px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 20px;
    margin-right: 17px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 17px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 392px;
  }

  .u-section-5 .u-video-1 {
    margin-top: 98px;
    margin-right: 93px;
    margin-left: 16px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: 2px;
    margin-right: 93px;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 698px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 778px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 47px;
    margin-right: -84px;
    margin-left: 102px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 72px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -472px;
    margin-right: -340px;
    margin-left: 358px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 350px;
    margin-right: -110px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 778px;
  }

  .u-section-5 .u-video-1 {
    width: 417px;
    height: 277px;
    margin-top: 260px;
    margin-right: auto;
    margin-left: -208px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -263px;
    margin-right: 30px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1437px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 96px;
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 278px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -428px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: 221px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 32px;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 1204px;
  }

  .u-section-5 .u-video-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-5 .u-shape-2 {
    margin-top: 96px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1083px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 347px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -319px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    margin-top: 97px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 758px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-video-1 {
    height: 225px;
    margin-top: 61px;
    margin-left: -38px;
    margin-right: -38px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: 77px;
    margin-right: 158px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 2116px;
}

.u-section-6 .u-group-1 {
  width: 772px;
  min-height: 102px;
  margin: 43px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-bottom: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: bold;
  font-size: 3.75rem;
  margin: 22px auto -16px;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  text-align: start;
  margin: 87px 118px 0 629px;
}

.u-section-6 .u-list-1 {
  width: 58px;
  margin: -31px auto 0;
}

.u-section-6 .u-repeater-1 {
  min-height: 652px;
  grid-template-columns: 100%;
  grid-gap: 41px 41px;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-icon-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  margin: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-icon-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  margin: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-icon-3 {
  width: 38px;
  height: 38px;
  background-image: none;
  margin: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px;
}

.u-section-6 .u-icon-4 {
  width: 38px;
  height: 38px;
  background-image: none;
  margin: 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px;
}

.u-section-6 .u-icon-5 {
  width: 38px;
  height: 38px;
  background-image: none;
  margin: 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 10px;
}

.u-section-6 .u-icon-6 {
  width: 38px;
  height: 38px;
  background-image: none;
  margin: 0;
}

.u-section-6 .u-container-layout-8 {
  padding: 10px;
}

.u-section-6 .u-icon-7 {
  width: 38px;
  height: 38px;
  background-image: none;
  margin: 0;
}

.u-section-6 .u-text-3 {
  font-size: 1rem;
  text-align: start;
  margin: -621px 73px 0 629px;
}

.u-section-6 .u-text-4 {
  font-size: 1.875rem;
  text-align: start;
  margin: 11px 629px 0 125px;
}

.u-section-6 .u-text-5 {
  font-size: 1rem;
  text-align: start;
  margin: 0 629px 0 143px;
}

.u-section-6 .u-text-6 {
  font-size: 1.875rem;
  text-align: start;
  margin: 25px 118px 0 629px;
}

.u-section-6 .u-text-7 {
  font-size: 1rem;
  text-align: start;
  margin: 0 73px 0 629px;
}

.u-section-6 .u-text-8 {
  font-size: 1.875rem;
  text-align: start;
  margin: 38px 629px 0 118px;
}

.u-section-6 .u-text-9 {
  font-size: 1rem;
  text-align: start;
  margin: 0 629px 0 180px;
}

.u-section-6 .u-text-10 {
  font-size: 1.875rem;
  text-align: start;
  margin: 28px 118px 0 629px;
}

.u-section-6 .u-text-11 {
  font-size: 1rem;
  text-align: start;
  margin: 0 73px 0 629px;
}

.u-section-6 .u-text-12 {
  font-size: 1.875rem;
  text-align: start;
  margin: 29px 629px 0 118px;
}

.u-section-6 .u-text-13 {
  font-size: 1rem;
  text-align: start;
  margin: 4px 629px 0 162px;
}

.u-section-6 .u-text-14 {
  font-size: 1.875rem;
  text-align: start;
  margin: -3px 118px 0 629px;
}

.u-section-6 .u-text-15 {
  font-size: 1rem;
  text-align: start;
  margin: 0 73px 0 629px;
}

.u-section-6 .u-rotation-parent-1 {
  width: 20px;
  height: 32px;
  margin: 29px 449px 0 auto;
}

.u-section-6 .u-shape-1 {
  width: 32px;
  height: 20px;
}

.u-section-6 .u-text-16 {
  font-size: 1rem;
  text-align: start;
  margin: 29px 399px 0 621px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  margin-bottom: 0;
  padding: 0;
}

.u-section-6 .u-icon-8 {
  width: 38px;
  height: 38px;
  margin: 173px 411px 0 auto;
}

.u-section-6 .u-icon-9 {
  width: 38px;
  height: 38px;
  margin: -38px auto 0 463px;
}

.u-section-6 .u-icon-10 {
  width: 38px;
  height: 38px;
  margin: -13px auto 0 258px;
}

.u-section-6 .u-icon-11 {
  width: 38px;
  height: 38px;
  margin: -3px 169px 0 auto;
}

.u-section-6 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 48px auto 0 244px;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-6 .u-icon-12 {
  width: 38px;
  height: 38px;
  margin: -306px auto 0 108px;
}

.u-section-6 .u-icon-13 {
  width: 38px;
  height: 38px;
  margin: 26px 123px 0 auto;
}

.u-section-6 .u-icon-14 {
  width: 38px;
  height: 38px;
  margin: 48px auto 0 92px;
}

.u-section-6 .u-icon-15 {
  width: 38px;
  height: 38px;
  margin: 117px auto 0 123px;
}

.u-section-6 .u-icon-16 {
  width: 38px;
  height: 38px;
  margin: -38px 156px 0 auto;
}

.u-section-6 .u-icon-17 {
  width: 38px;
  height: 38px;
  margin: 73px auto 0 375px;
}

.u-section-6 .u-icon-18 {
  width: 38px;
  height: 38px;
  margin: -28px 411px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    font-weight: 700;
    font-size: 4.0625rem;
  }

  .u-section-6 .u-text-2 {
    margin-right: 18px;
    margin-left: 529px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -722px;
    margin-right: 0;
    margin-left: 502px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 6px;
    margin-right: 529px;
    margin-left: 25px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 1px;
    margin-right: 529px;
    margin-left: 43px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 18px;
    margin-left: 529px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
    margin-left: 529px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 529px;
    margin-left: 18px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 529px;
    margin-left: 80px;
  }

  .u-section-6 .u-text-10 {
    margin-right: 18px;
    margin-left: 529px;
  }

  .u-section-6 .u-text-11 {
    margin-right: 0;
    margin-left: 529px;
  }

  .u-section-6 .u-text-12 {
    margin-right: 529px;
    margin-left: 18px;
  }

  .u-section-6 .u-text-13 {
    margin-right: 529px;
    margin-left: 62px;
  }

  .u-section-6 .u-text-14 {
    margin-right: 18px;
    margin-left: 529px;
  }

  .u-section-6 .u-text-15 {
    margin-right: 0;
    margin-left: 529px;
  }

  .u-section-6 .u-rotation-parent-1 {
    margin-top: 38px;
  }

  .u-section-6 .u-shape-1 {
    color: rgb(0, 0, 0) !important;
    margin: 38px 306px 0 auto;
  }

  .u-section-6 .u-text-16 {
    margin-top: -4px;
    margin-right: 299px;
    margin-left: 521px;
  }

  .u-section-6 .u-icon-8 {
    margin-top: 179px;
    margin-right: 339px;
    margin-left: 560px;
  }

  .u-section-6 .u-icon-9 {
    margin-left: 313px;
  }

  .u-section-6 .u-icon-10 {
    margin-left: 184px;
  }

  .u-section-6 .u-icon-11 {
    margin-left: 736px;
  }

  .u-section-6 .u-video-1 {
    margin-left: 212px;
  }

  .u-section-6 .u-icon-12 {
    margin-left: 88px;
  }

  .u-section-6 .u-icon-13 {
    margin-left: 778px;
  }

  .u-section-6 .u-icon-15 {
    margin-left: 108px;
  }

  .u-section-6 .u-icon-16 {
    margin-left: 720px;
  }

  .u-section-6 .u-icon-17 {
    margin-left: 291px;
  }

  .u-section-6 .u-icon-18 {
    margin-right: 339px;
    margin-left: 539px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-bottom: -12px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 327px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 282px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 334px;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 334px;
    margin-left: 18px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
    margin-left: 327px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 327px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 327px;
    margin-left: 0;
  }

  .u-section-6 .u-text-9 {
    margin-right: 327px;
    margin-left: 62px;
  }

  .u-section-6 .u-text-10 {
    margin-right: 0;
    margin-left: 327px;
  }

  .u-section-6 .u-text-11 {
    margin-left: 327px;
  }

  .u-section-6 .u-text-12 {
    margin-right: 327px;
    margin-left: 0;
  }

  .u-section-6 .u-text-13 {
    margin-right: 327px;
    margin-left: 44px;
  }

  .u-section-6 .u-text-14 {
    margin-right: 0;
    margin-left: 327px;
  }

  .u-section-6 .u-text-15 {
    margin-left: 327px;
  }

  .u-section-6 .u-text-16 {
    margin-right: 189px;
    margin-left: 411px;
  }

  .u-section-6 .u-icon-8 {
    margin-top: 215px;
    margin-right: 260px;
    margin-left: 413px;
  }

  .u-section-6 .u-icon-9 {
    margin-top: 14px;
    margin-left: 303px;
  }

  .u-section-6 .u-icon-10 {
    margin-top: -96px;
    margin-left: 151px;
  }

  .u-section-6 .u-icon-11 {
    margin-top: 32px;
    margin-left: 548px;
  }

  .u-section-6 .u-video-1 {
    margin-left: auto;
  }

  .u-section-6 .u-icon-12 {
    margin-top: -441px;
    margin-left: 66px;
  }

  .u-section-6 .u-icon-13 {
    margin-top: 463px;
    margin-right: 112px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-14 {
    margin-top: -294px;
  }

  .u-section-6 .u-icon-15 {
    margin-top: 218px;
    margin-left: 79px;
  }

  .u-section-6 .u-icon-16 {
    margin-top: -80px;
    margin-right: 223px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-17 {
    margin-top: -31px;
    margin-left: 200px;
  }

  .u-section-6 .u-icon-18 {
    margin-top: 4px;
    margin-right: 260px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2130px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 107px;
    margin-right: 25px;
    margin-left: 122px;
  }

  .u-section-6 .u-list-1 {
    margin-top: -25px;
    margin-left: 44px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: -627px;
    margin-right: -20px;
    margin-left: 122px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 8px;
    margin-right: 32px;
    margin-left: 122px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-right: 47px;
    margin-left: 125px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 36px;
    margin-right: 25px;
    margin-left: 122px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-right: 25px;
    margin-left: 122px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 35px;
    margin-right: 25px;
    margin-left: 122px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-right: 84px;
    margin-left: 125px;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 122px;
  }

  .u-section-6 .u-text-11 {
    width: auto;
    margin-right: 25px;
    margin-left: 122px;
  }

  .u-section-6 .u-text-12 {
    width: auto;
    margin-top: 13px;
    margin-right: 25px;
    margin-left: 122px;
  }

  .u-section-6 .u-text-13 {
    width: auto;
    margin-top: 9px;
    margin-right: 69px;
    margin-left: 122px;
  }

  .u-section-6 .u-text-14 {
    width: auto;
    margin-top: 0;
    margin-right: 69px;
    margin-left: 122px;
  }

  .u-section-6 .u-text-15 {
    width: auto;
    margin-right: 69px;
    margin-left: 122px;
  }

  .u-section-6 .u-rotation-parent-1 {
    margin-top: 79px;
    margin-right: auto;
  }

  .u-section-6 .u-text-16 {
    width: 120px;
    margin-top: 67px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-icon-8 {
    margin-top: 80px;
    margin-right: auto;
    margin-left: 209px;
  }

  .u-section-6 .u-icon-9 {
    margin-top: -19px;
    margin-left: 0;
  }

  .u-section-6 .u-icon-10 {
    margin-top: -14px;
    margin-left: 125px;
  }

  .u-section-6 .u-icon-11 {
    margin-top: -45px;
    margin-right: 154px;
    margin-left: auto;
  }

  .u-section-6 .u-video-1 {
    height: 304px;
    margin-top: 38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-icon-12 {
    margin-top: -402px;
    margin-right: 49px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-13 {
    margin-top: 408px;
    margin-right: 47px;
  }

  .u-section-6 .u-icon-14 {
    margin-top: -301px;
  }

  .u-section-6 .u-icon-15 {
    margin-top: 199px;
    margin-left: 157px;
  }

  .u-section-6 .u-icon-16 {
    margin-top: -31px;
    margin-right: 154px;
  }

  .u-section-6 .u-icon-17 {
    margin-top: -32px;
    margin-left: 44px;
  }

  .u-section-6 .u-icon-18 {
    margin-top: -25px;
    margin-right: 195px;
    margin-left: 232px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1947px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 110px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 32px;
    margin-right: -35px;
    margin-left: 35px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 13px;
    margin-left: -29px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -665px;
    margin-right: -35px;
    margin-left: 35px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 26px;
    margin-right: -35px;
    margin-left: 35px;
  }

  .u-section-6 .u-text-5 {
    margin-right: -35px;
    margin-left: 35px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 145px;
    margin-right: -35px;
    margin-left: 35px;
  }

  .u-section-6 .u-text-7 {
    margin-right: -35px;
    margin-left: 35px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.5rem;
    margin-top: -162px;
    margin-right: -35px;
    margin-left: 35px;
  }

  .u-section-6 .u-text-9 {
    margin-right: -26px;
    margin-left: 36px;
  }

  .u-section-6 .u-text-10 {
    font-size: 1.5rem;
    margin-top: 122px;
    margin-right: -35px;
    margin-left: 35px;
  }

  .u-section-6 .u-text-11 {
    margin-right: -35px;
    margin-left: 36px;
  }

  .u-section-6 .u-text-12 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-right: -35px;
    margin-left: 35px;
  }

  .u-section-6 .u-text-13 {
    margin-top: 0;
    margin-right: -35px;
    margin-left: 35px;
  }

  .u-section-6 .u-text-14 {
    font-size: 1.5rem;
    margin-top: 26px;
    margin-right: -35px;
    margin-left: 35px;
  }

  .u-section-6 .u-text-15 {
    margin-right: -35px;
    margin-left: 35px;
  }

  .u-section-6 .u-rotation-parent-1 {
    margin-top: 38px;
  }

  .u-section-6 .u-text-16 {
    margin-top: 58px;
  }

  .u-section-6 .u-icon-8 {
    margin-top: 133px;
    margin-left: 57px;
  }

  .u-section-6 .u-icon-9 {
    margin-top: 33px;
    margin-left: 132px;
  }

  .u-section-6 .u-icon-10 {
    margin-top: -13px;
    margin-left: 39px;
  }

  .u-section-6 .u-icon-11 {
    margin-top: -26px;
    margin-right: 35px;
  }

  .u-section-6 .u-video-1 {
    height: 191px;
    margin-top: 21px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-12 {
    margin-top: 125px;
    margin-right: auto;
    margin-left: 72px;
  }

  .u-section-6 .u-icon-13 {
    margin-top: -22px;
    margin-right: 132px;
  }

  .u-section-6 .u-icon-14 {
    margin-top: -558px;
    margin-left: 132px;
  }

  .u-section-6 .u-icon-15 {
    width: 49px;
    height: 49px;
    margin-top: 359px;
    margin-right: 132px;
    margin-left: auto;
  }

  .u-section-6 .u-icon-16 {
    margin-top: 58px;
    margin-right: 51px;
  }

  .u-section-6 .u-icon-17 {
    margin-top: -134px;
    margin-left: 20px;
  }

  .u-section-6 .u-icon-18 {
    margin-top: -450px;
    margin-right: 82px;
    margin-left: auto;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 890px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-family: Jomolhari;
  font-weight: bold;
  margin: 80px auto 0;
}

.u-section-7 .u-accordion-1 {
  margin-top: 65px;
  margin-bottom: 60px;
}

.u-section-7 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-7 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-7 .u-accordion-pane-1 {
  min-height: 85px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-7 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-7 .u-accordion-pane-2 {
  min-height: 85px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-3 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-7 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-7 .u-accordion-pane-3 {
  min-height: 85px;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-icon-1 {
    color: rgb(153, 153, 153) !important;
  }

  .u-section-7 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-7 .u-icon-2 {
    color: rgb(153, 153, 153) !important;
  }

  .u-section-7 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-7 .u-icon-3 {
    color: rgb(153, 153, 153) !important;
  }

  .u-section-7 .u-accordion-pane-3 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1106px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  width: 697px;
  margin: 87px auto 0;
}

.u-section-8 .u-text-2 {
  font-weight: 400;
  font-style: normal;
  width: 674px;
  font-family: "Open Sans";
  margin: 30px auto 0;
}

.u-section-8 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(50% - 12px) calc(50% - 12px);
  min-height: 513px;
  grid-gap: 24px 24px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 34px 30px 30px;
}

.u-section-8 .u-image-1 {
  width: 265px;
  height: 265px;
  background-image: url("images/272968081_683326592829127_2847789922195341811_n.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Jomolhari;
  margin: 20px 0 0;
}

.u-section-8 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2;
  width: 287px;
  font-family: "Open Sans";
  margin: 20px auto 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 34px 30px 30px;
}

.u-section-8 .u-image-2 {
  width: 265px;
  height: 265px;
  background-image: url("images/NFTxgjxsfgkf1.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Jomolhari;
  margin: 20px 0 0;
}

.u-section-8 .u-text-6 {
  font-size: 1.25rem;
  line-height: 2;
  width: 287px;
  font-family: "Open Sans";
  margin: 20px auto 0;
}

.u-section-8 .u-text-7 {
  text-align: center;
  width: 697px;
  font-size: 3rem;
  margin: 95px auto 0;
}

.u-section-8 .u-icon-1 {
  width: 35px;
  height: 35px;
  margin: 44px 432px 0 auto;
}

.u-section-8 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: -32px auto 0;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: -32px auto 60px 435px;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    min-height: 485px;
  }

  .u-section-8 .u-image-1 {
    width: 237px;
    height: 237px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 30px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
  }

  .u-section-8 .u-image-2 {
    width: 237px;
    height: 237px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 30px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
  }

  .u-section-8 .u-text-7 {
    margin-top: 113px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 19px;
    margin-right: 308px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: -33px;
  }

  .u-section-8 .u-social-icons-2 {
    margin-left: 311px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1592px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 423px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-8 .u-image-1 {
    width: 287px;
    height: 287px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-8 .u-image-2 {
    width: 287px;
    height: 287px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 0;
  }

  .u-section-8 .u-text-7 {
    width: auto;
    margin-top: 49px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 23px;
    margin-right: auto;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: -35px;
    margin-left: 203px;
  }

  .u-section-8 .u-social-icons-2 {
    margin-right: 203px;
    margin-bottom: 53px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1770px;
  }

  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-8 .u-image-1 {
    width: 361px;
    height: 361px;
    margin-right: 50px;
    margin-left: 50px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-8 .u-image-2 {
    width: 361px;
    height: 361px;
    margin-right: 50px;
    margin-left: 50px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-8 .u-text-7 {
    margin-top: 59px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 24px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: -31px;
    margin-left: 100px;
  }

  .u-section-8 .u-social-icons-2 {
    margin-top: -34px;
    margin-right: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1589px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-1 {
    width: 287px;
    height: 287px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-2 {
    width: 287px;
    height: 287px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 20px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: -32px;
    margin-left: 0;
  }

  .u-section-8 .u-social-icons-2 {
    margin-top: -35px;
    margin-right: 0;
    margin-bottom: 13px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 25px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 112px;
  }
}