 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 717px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 586px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 25px;
}

.u-section-1 .u-text-1 {
  font-weight: bold;
  font-size: 4.5rem;
  margin: 49px auto 0 4px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 24px 75px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1rem;
  align-self: center;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 45px auto 0 0;
  padding: 13px 59px 15px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  align-self: center;
  margin: -61px 75px 0 auto;
  padding: 13px 59px 15px;
}

.u-section-1 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 586px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 540px;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 490px;
  height: 490px;
  background-image: url("images/ezgif-5-fd55091871.gif");
  background-position: 50% 50%;
  margin: -508px 23px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 483px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 505px;
  }

  .u-section-1 .u-image-1 {
    height: 446px;
  }

  .u-section-1 .u-image-2 {
    width: 470px;
    height: 470px;
    margin-top: -414px;
    margin-right: 0;
    transition-duration: 0.5s;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 553px;
  }

  .u-section-1 .u-image-1 {
    height: 342px;
  }

  .u-section-1 .u-image-2 {
    width: 360px;
    height: 360px;
    margin-top: -310px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 555px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-1 .u-image-1 {
    height: 323px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -291px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 82px;
}

.u-section-2 .u-countdown-1 {
  margin: 15px auto 4px;
  padding: 0;
}

.u-section-2 .u-countdown-item-1 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-1 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-label-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-2 .u-countdown-separator-1 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-item-2 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-2 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-label-2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-2 .u-countdown-separator-2 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-item-3 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-3 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-label-3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-2 .u-countdown-separator-3 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-item-4 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-4 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-label-4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-2 .u-countdown-separator-4 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-item-5 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-5 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-label-5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-2 .u-countdown-separator-5 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-item-6 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-6 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-label-6 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 747px;
}

.u-section-3 .u-image-1 {
  width: 347px;
  height: 347px;
  background-image: url("images/logo_EWpngcopiar.png");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 60px auto 0 42px;
}

.u-section-3 .u-shape-1 {
  width: 8px;
  height: 200px;
  margin: -270px auto 0 0;
}

.u-section-3 .u-shape-2 {
  width: 8px;
  height: 200px;
  margin: -200px 0 0 auto;
}

.u-section-3 .u-text-1 {
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-family: Jomolhari;
  font-size: 3.75rem;
  font-weight: bold;
  margin: -193px auto 0 432px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  text-align: start;
  margin: 17px 120px 144px 432px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-3 .u-shape-2 {
    width: 7px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: -129px;
    margin-left: 171px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 76px;
    margin-left: 409px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    width: 225px;
    height: 225px;
    margin-left: 38px;
  }

  .u-section-3 .u-shape-2 {
    width: 8px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 12px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 109px;
    margin-left: 327px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 19px;
    margin-bottom: 60px;
    margin-left: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    margin-top: -263px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 56px;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(205,152,51,0.6) !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0 rgba(205,152,51,0.6) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1248px;
}

.u-section-4 .u-shape-1 {
  width: 643px;
  background-image: linear-gradient(#1f1f1f, #cd9833);
  height: 1013px;
  margin: 25px auto 0 191px;
}

.u-section-4 .u-gallery-1 {
  width: 985px;
  height: 671px;
  grid-gap: 10px 10px;
  margin: -888px auto 0 48px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-group-1 {
  width: 422px;
  min-height: 271px;
  background-image: none;
  margin: -54px 65px 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 31px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  margin: 40px auto 0;
}

.u-section-4 .u-icon-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  margin: -45px 20px 0 auto;
}

.u-section-4 .u-icon-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  margin: -38px auto 7px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1222px;
  }

  .u-section-4 .u-shape-1 {
    width: 587px;
    height: 898px;
    margin-top: 65px;
    margin-right: 160px;
    margin-left: auto;
    --animation-custom-rotate: 0deg;
    --animation-custom-translate_x: 0px;
  }

  .u-section-4 .u-gallery-1 {
    width: 879px;
    height: 609px;
    margin-top: -773px;
    margin-left: 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: -87px;
  }

  .u-section-4 .u-btn-1 {
    padding: 13px 59px 15px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1648px;
  }

  .u-section-4 .u-shape-1 {
    width: 506px;
    height: 1379px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: 81px;
  }

  .u-section-4 .u-gallery-1 {
    width: 720px;
    height: 1122px;
    margin-top: -888px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-group-1 {
    margin-top: -486px;
    margin-right: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4530px;
  }

  .u-section-4 .u-shape-1 {
    width: 402px;
    height: 2907px;
    margin-left: 0;
  }

  .u-section-4 .u-gallery-1 {
    width: 440px;
    height: 2486px;
    margin-left: auto;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-group-1 {
    width: 425px;
    margin-top: -2692px;
    margin-right: 65px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2481px;
  }

  .u-section-4 .u-shape-1 {
    width: 276px;
    height: 2201px;
  }

  .u-section-4 .u-gallery-1 {
    width: 305px;
    height: 1735px;
    margin-top: -2136px;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    width: 305px;
    margin-top: 60px;
    margin-right: 0;
    margin-bottom: 52px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 753px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 97px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 476px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 9px;
}

.u-section-5 .u-text-1 {
  font-weight: bold;
  font-size: 3.4375rem;
  margin: 50px 9px 0 85px;
}

.u-section-5 .u-shape-1 {
  width: 8px;
  height: 250px;
  margin: -46px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  background-image: none;
  font-weight: 700;
  margin: -175px 11px 0 85px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  margin: 29px auto 0 85px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 476px;
}

.u-section-5 .u-container-layout-2 {
  padding: 7px 0;
}

.u-section-5 .u-video-1 {
  width: 454px;
  height: 312px;
  margin: 62px auto 0 31px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-shape-2 {
  width: 8px;
  height: 250px;
  margin: -281px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 392px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 85px;
    margin-right: 17px;
    margin-left: 0;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -81px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -150px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 392px;
  }

  .u-section-5 .u-video-1 {
    margin-top: 98px;
    margin-right: 93px;
    margin-left: 16px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -317px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 181px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 300px;
  }

  .u-section-5 .u-video-1 {
    width: 417px;
    height: 277px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -273px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1342px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 97px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -46px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -175px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 364px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1083px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 85px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -81px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    margin-top: -150px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 229px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
    height: 225px;
    margin-right: auto;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -221px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 2016px;
}

.u-section-6 .u-group-1 {
  width: 772px;
  min-height: 85px;
  margin: 71px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-bottom: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: bold;
  font-size: 3.75rem;
  margin: 22px auto -16px;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  text-align: start;
  margin: 110px 126px 0 621px;
}

.u-section-6 .u-list-1 {
  width: 58px;
  margin: -28px auto 0;
}

.u-section-6 .u-repeater-1 {
  min-height: 652px;
  grid-template-columns: 100%;
  grid-gap: 41px 41px;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-icon-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  margin: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-icon-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  margin: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-icon-3 {
  width: 38px;
  height: 38px;
  background-image: none;
  margin: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px;
}

.u-section-6 .u-icon-4 {
  width: 38px;
  height: 38px;
  background-image: none;
  margin: 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px;
}

.u-section-6 .u-icon-5 {
  width: 38px;
  height: 38px;
  background-image: none;
  margin: 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 10px;
}

.u-section-6 .u-icon-6 {
  width: 38px;
  height: 38px;
  background-image: none;
  margin: 0;
}

.u-section-6 .u-container-layout-8 {
  padding: 10px;
}

.u-section-6 .u-icon-7 {
  width: 38px;
  height: 38px;
  background-image: none;
  margin: 0;
}

.u-section-6 .u-text-3 {
  font-size: 1rem;
  text-align: start;
  margin: -624px 81px 0 621px;
}

.u-section-6 .u-text-4 {
  font-size: 1.875rem;
  text-align: start;
  margin: 9px 621px 0 133px;
}

.u-section-6 .u-text-5 {
  font-size: 1rem;
  text-align: start;
  margin: 0 621px 0 106px;
}

.u-section-6 .u-text-6 {
  font-size: 1.875rem;
  text-align: start;
  margin: 27px 126px 0 621px;
}

.u-section-6 .u-text-7 {
  font-size: 1rem;
  text-align: start;
  margin: 0 81px 0 621px;
}

.u-section-6 .u-text-8 {
  font-size: 1.875rem;
  text-align: start;
  margin: 40px 621px 0 126px;
}

.u-section-6 .u-text-9 {
  font-size: 1rem;
  text-align: start;
  margin: 0 621px 0 104px;
}

.u-section-6 .u-text-10 {
  font-size: 1.875rem;
  text-align: start;
  margin: 26px 126px 0 621px;
}

.u-section-6 .u-text-11 {
  font-size: 1rem;
  text-align: start;
  margin: 0 81px 0 621px;
}

.u-section-6 .u-text-12 {
  font-size: 1.875rem;
  text-align: start;
  margin: 24px 621px 0 126px;
}

.u-section-6 .u-text-13 {
  font-size: 1rem;
  text-align: start;
  margin: 0 621px 0 115px;
}

.u-section-6 .u-text-14 {
  font-size: 1.875rem;
  text-align: start;
  margin: 26px 126px 0 621px;
}

.u-section-6 .u-text-15 {
  font-size: 1rem;
  text-align: start;
  margin: 0 81px 0 621px;
}

.u-section-6 .u-icon-8 {
  width: 38px;
  height: 38px;
  margin: 164px auto 0 425px;
}

.u-section-6 .u-icon-9 {
  width: 38px;
  height: 38px;
  margin: -26px 378px 0 auto;
}

.u-section-6 .u-icon-10 {
  width: 38px;
  height: 38px;
  margin: 2px auto 0 222px;
}

.u-section-6 .u-icon-11 {
  width: 38px;
  height: 38px;
  margin: -20px 165px 0 auto;
}

.u-section-6 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 31px auto 0;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-6 .u-icon-12 {
  width: 38px;
  height: 38px;
  margin: -250px auto 0 126px;
}

.u-section-6 .u-icon-13 {
  width: 38px;
  height: 38px;
  margin: -4px 114px 0 auto;
}

.u-section-6 .u-icon-14 {
  width: 38px;
  height: 38px;
  margin: 178px auto 0 146px;
}

.u-section-6 .u-icon-15 {
  width: 38px;
  height: 38px;
  margin: 16px 184px 0 auto;
}

.u-section-6 .u-icon-16 {
  width: 38px;
  height: 38px;
  margin: 3px auto 0 398px;
}

.u-section-6 .u-icon-17 {
  width: 38px;
  height: 38px;
  margin: 0 404px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    font-weight: 700;
    font-size: 4.0625rem;
  }

  .u-section-6 .u-text-2 {
    margin-right: 26px;
    margin-left: 521px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 502px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 521px;
    margin-left: 33px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 521px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 26px;
    margin-left: 521px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
    margin-left: 521px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 521px;
    margin-left: 26px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 521px;
    margin-left: 4px;
  }

  .u-section-6 .u-text-10 {
    margin-right: 26px;
    margin-left: 521px;
  }

  .u-section-6 .u-text-11 {
    margin-right: 0;
    margin-left: 521px;
  }

  .u-section-6 .u-text-12 {
    margin-right: 521px;
    margin-left: 26px;
  }

  .u-section-6 .u-text-13 {
    margin-right: 521px;
    margin-left: 15px;
  }

  .u-section-6 .u-text-14 {
    margin-right: 26px;
    margin-left: 521px;
  }

  .u-section-6 .u-text-15 {
    margin-right: 0;
    margin-left: 521px;
  }

  .u-section-6 .u-icon-8 {
    margin-left: 350px;
  }

  .u-section-6 .u-icon-9 {
    margin-right: 312px;
  }

  .u-section-6 .u-icon-16 {
    margin-left: 328px;
  }

  .u-section-6 .u-icon-17 {
    margin-right: 333px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-bottom: -12px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 327px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 282px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 334px;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 334px;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
    margin-left: 327px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 327px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 327px;
    margin-left: 0;
  }

  .u-section-6 .u-text-9 {
    margin-right: 327px;
    margin-left: 0;
  }

  .u-section-6 .u-text-10 {
    margin-right: 0;
    margin-left: 327px;
  }

  .u-section-6 .u-text-11 {
    margin-left: 327px;
  }

  .u-section-6 .u-text-12 {
    margin-right: 327px;
    margin-left: 0;
  }

  .u-section-6 .u-text-13 {
    margin-right: 327px;
    margin-left: 0;
  }

  .u-section-6 .u-text-14 {
    margin-right: 0;
    margin-left: 327px;
  }

  .u-section-6 .u-text-15 {
    margin-left: 327px;
  }

  .u-section-6 .u-icon-8 {
    margin-left: 268px;
  }

  .u-section-6 .u-icon-9 {
    margin-right: 239px;
  }

  .u-section-6 .u-icon-16 {
    margin-left: 251px;
  }

  .u-section-6 .u-icon-17 {
    margin-right: 255px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1960px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 102px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 154px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 154px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 147px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 147px;
  }

  .u-section-6 .u-text-10 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-11 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-12 {
    margin-right: 147px;
  }

  .u-section-6 .u-text-13 {
    margin-right: 147px;
  }

  .u-section-6 .u-text-14 {
    margin-left: 147px;
  }

  .u-section-6 .u-text-15 {
    margin-left: 147px;
  }

  .u-section-6 .u-icon-8 {
    margin-left: 201px;
  }

  .u-section-6 .u-icon-9 {
    margin-right: 179px;
  }

  .u-section-6 .u-icon-10 {
    margin-left: 167px;
  }

  .u-section-6 .u-video-1 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-icon-12 {
    margin-top: -194px;
  }

  .u-section-6 .u-icon-15 {
    margin-right: 138px;
  }

  .u-section-6 .u-icon-16 {
    margin-left: 188px;
  }

  .u-section-6 .u-icon-17 {
    margin-right: 191px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1847px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-6 .u-text-9 {
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-6 .u-text-11 {
    margin-left: 0;
  }

  .u-section-6 .u-text-12 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-6 .u-text-13 {
    margin-right: 0;
  }

  .u-section-6 .u-text-14 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-6 .u-text-15 {
    margin-left: 0;
  }

  .u-section-6 .u-icon-8 {
    margin-left: 127px;
  }

  .u-section-6 .u-icon-9 {
    margin-right: 113px;
  }

  .u-section-6 .u-icon-10 {
    margin-left: 105px;
  }

  .u-section-6 .u-icon-11 {
    margin-right: 104px;
  }

  .u-section-6 .u-video-1 {
    height: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-12 {
    margin-top: -81px;
    margin-left: 79px;
  }

  .u-section-6 .u-icon-13 {
    margin-right: 72px;
  }

  .u-section-6 .u-icon-14 {
    margin-left: 92px;
  }

  .u-section-6 .u-icon-15 {
    margin-right: 87px;
  }

  .u-section-6 .u-icon-16 {
    margin-left: 118px;
  }

  .u-section-6 .u-icon-17 {
    margin-right: 120px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 766px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-family: Jomolhari;
  font-weight: bold;
  margin: 80px auto 0;
}

.u-section-7 .u-accordion-1 {
  margin-top: 63px;
  margin-bottom: 60px;
}

.u-section-7 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-7 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-7 .u-accordion-pane-1 {
  min-height: 85px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-7 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-7 .u-accordion-pane-2 {
  min-height: 85px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-7 .u-accordion-link-3 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-7 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-7 .u-accordion-pane-3 {
  min-height: 85px;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-icon-1 {
    color: rgb(153, 153, 153) !important;
  }

  .u-section-7 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-7 .u-icon-2 {
    color: rgb(153, 153, 153) !important;
  }

  .u-section-7 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-7 .u-icon-3 {
    color: rgb(153, 153, 153) !important;
  }

  .u-section-7 .u-accordion-pane-3 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1106px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  width: 697px;
  margin: 87px auto 0;
}

.u-section-8 .u-text-2 {
  font-weight: 400;
  font-style: normal;
  width: 674px;
  margin: 30px auto 0;
}

.u-section-8 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(50% - 12px) calc(50% - 12px);
  min-height: 513px;
  grid-gap: 24px 24px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 34px 30px 30px;
}

.u-section-8 .u-image-1 {
  width: 265px;
  height: 265px;
  background-image: url("images/272968081_683326592829127_2847789922195341811_n.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Jomolhari;
  margin: 20px 0 0;
}

.u-section-8 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2;
  font-family: Jomolhari;
  width: 287px;
  margin: 20px auto 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 34px 30px 30px;
}

.u-section-8 .u-image-2 {
  width: 265px;
  height: 265px;
  background-image: url("images/raviani.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Jomolhari;
  margin: 20px 0 0;
}

.u-section-8 .u-text-6 {
  font-size: 1.25rem;
  line-height: 2;
  font-family: Jomolhari;
  width: 287px;
  margin: 20px auto 0;
}

.u-section-8 .u-text-7 {
  text-align: center;
  width: 697px;
  font-size: 3rem;
  margin: 95px auto 0;
}

.u-section-8 .u-icon-1 {
  width: 35px;
  height: 35px;
  margin: 44px 432px 0 auto;
}

.u-section-8 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: -32px auto 0;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: -32px auto 60px 435px;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 16px) calc(33.3333% - 16px) calc(33.3333% - 16px);
    min-height: 485px;
  }

  .u-section-8 .u-image-1 {
    width: 237px;
    height: 237px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 30px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
  }

  .u-section-8 .u-image-2 {
    width: 237px;
    height: 237px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 30px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
  }

  .u-section-8 .u-text-7 {
    margin-top: 113px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: -30px;
    margin-right: 356px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: -33px;
  }

  .u-section-8 .u-social-icons-2 {
    margin-top: -33px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 423px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-8 .u-image-1 {
    width: 287px;
    height: 287px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-8 .u-image-2 {
    width: 287px;
    height: 287px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 0;
  }

  .u-section-8 .u-text-7 {
    margin-top: 96px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: -13px;
    margin-right: 273px;
  }

  .u-section-8 .u-social-icons-2 {
    margin-bottom: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-8 .u-image-1 {
    width: 361px;
    height: 361px;
    margin-right: 50px;
    margin-left: 50px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-8 .u-image-2 {
    width: 361px;
    height: 361px;
    margin-right: 50px;
    margin-left: 50px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-8 .u-text-7 {
    width: 540px;
  }

  .u-section-8 .u-icon-1 {
    margin-right: 205px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-1 {
    width: 287px;
    height: 287px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-2 {
    width: 287px;
    height: 287px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-text-7 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 31px;
    margin-right: 129px;
  }

  .u-section-8 .u-social-icons-2 {
    margin-bottom: 1px;
    margin-left: 308px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 25px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 112px;
  }
}